body {
    font-family: 'Kanit', sans-serif;
    background: #bdc3c7;
    color: #262626;
  }

body, head, article, button, #num-input{
    margin: auto;
    width: 80%;
  }

p, b {
    font-size: 24px;
    width: 100%;
}

input {
    height: 64px;
    width: 128px;
}
input[type="number"]{
    font-size: 36px;
    font-weight: bold;
}

#result {
    font-size: 36px;
    font-weight: bold;
}

button {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    background-color: #ff4742;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    :hover{
        background-color: #ffffff;
    }
}